<header>
  <nav class="flex w-full rounded-b-lg bg-amber-200">
    <a
      class="rounded-bl-lg p-4 font-medium tracking-wide"
      routerLink="/"
      routerLinkActive="bg-blue-500 text-white !font-bold"
      [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
    >
    <a
      class="p-4 font-medium tracking-wide"
      routerLink="/brands"
      routerLinkActive="bg-blue-500 text-white !font-bold"
    >Brands</a
    >
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
